# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
.env

# IDE
.vscode/
.idea/

# Testing & coverage
htmlcov/
.coverage
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Project specific
dragonfly_password.txt
session-ses*

docs/
